body, html {
font-family: arial;
font-size: 12px;
color: white;
line-height: 1.4;
background-color: white;
}

#container
{
height: 100%;
width: 100%;
}

#line_1
{
width: 100%;
min-height: 672px;
height: auto!important;
height: 672px;
background-color: blue;
background: #5897cc;
background: -moz-linear-gradient(top, #5897cc 0%, #0e4176 91%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5897cc), color-stop(91%,#0e4176)); 
background: -webkit-linear-gradient(top, #5897cc 0%,#0e4176 91%); 
background: -o-linear-gradient(top, #5897cc 0%,#0e4176 91%);
background: -ms-linear-gradient(top, #5897cc 0%,#0e4176 91%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5897cc', endColorstr='#0e4176',GradientType=0 );
background: linear-gradient(top, #5897cc 0%,#0e4176 91%);
}

#content_1
{
width: 775px;
height: 147px;
margin: 0 auto;
}

	#line_1 img
	{
	float: left;
	position: relative;
	left: -79px;
	}
	
#toplink
{
width: 169px;
height: 18px;
padding-top: 88px;
padding-right: 0px;
float: right;
}
	#toplink a
	{
	color: white;
	font-family: Century Gothic;
	font-size: 14px;
	text-decoration: none;
	float: right;
	}
	
.clear
{
clear: both;
}

#line_2
{
width: 100%;
min-height: 524px;
height: auto!important;
height: 524px;
}

#content_2
{
width: 775px;
min-height: 524px;
height: auto!important;
height: 524px;
margin: 0 auto;
}

#left
{
width: 1px;
min-height: 524px;
height: auto!important;
height: 524px;
float: right;
position: relative;
left: 16px;
margin-right: 0px;
padding-right: 0px;
}

#menu
{
width: 165px;
min-height: 100px;
height: auto!important;
height: 100px;
background-color: white;
padding-left: 23px;
background-image: url(img/box_bg.jpg);
background-repeat: repeat-y;
background-position: top left;
-webkit-border-radius: 8px;
-moz-border-radius: 8px;
border-radius: 8px;
-webkit-box-shadow: 0px 0px 5px 0px #35638e;
-moz-box-shadow: 0px 0px 5px 0px #35638e;
box-shadow: 0px 0px 5px 0px #35638e; 
padding: 20px;
padding-left: 30px;
margin-bottom: 20px;
}

	#menu ul li
	{
	display: block;
	margin-bottom: 7px;
	}
	
	#menu ul li a
	{
	color: #000000;
	font-family: Century Gothic;
	font-size: 14px;
	text-decoration: none;
	}
	
	#menu ul li a:hover
	{
	color: #32aaff;
	}
	
	#menu ul li.menu-current a
	{
	color: #32aaff;
	font-family: Century Gothic;
	font-size: 17px;
	font-weight: bold;
	}
	
	#menu ul li.menu-parent a
	{
	color: #32aaff;
	font-family: Century Gothic;
	font-size: 17px;
	font-weight: bold;
	}
	
	#menu ul li.menu-parent ul li a
	{
	color: #000000;
	font-family: Century Gothic;
	font-size: 13px;
	font-weight: normal;
	}
	
	#menu ul li.menu-parent ul li.menu-current a
	{
	color: #32aaff;
	font-family: Century Gothic;
	font-size: 13px;
	font-weight: normal;
	}
	
	#menu ul li.menu-current ul li.menu-child a
	{
	color: black;
	font-family: Century Gothic;
	font-size: 13px;
	font-weight: normal;
	}
	
	
	#menu ul li.menu-current ul li.menu-child a:hover
	{
	color: #32aaff;
	font-family: Century Gothic;
	font-size: 13px;
	font-weight: normal;
	}
	
	#menu ul li ul
	{
	margin-top: 5px;
	margin-bottom: 20px;
	}
	
	#menu ul li ul li a
	{
	margin-left: 0px;
	margin-top: 0px;
	padding-left: 20px;
	background-image: url(img/list.jpg);
	background-repeat: no-repeat;
	background-position: left;
	}
	
#wb-search
{
width: 175px;
min-height: 30px;
height: auto!important;
height: 30px;
background-color: white;
padding-left: 23px;
padding: 20px;
margin-bottom: 20px;
-webkit-border-radius: 8px;
-moz-border-radius: 8px;
border-radius: 8px;
-webkit-box-shadow: 0px 0px 5px 0px #35638e;
-moz-box-shadow: 0px 0px 5px 0px #35638e;
box-shadow: 0px 0px 5px 0px #35638e; 
}

#search_absolute
{
width: 170px;
min-height: 35px;
height: auto!important;
height: 35px;
position: absolute;
}

#search input
{
border: 1px solid #33AAFE;
width: 100%;
height: 26px;
width: 130px;
padding-right: 35px;
padding-left: 5px;
color: #000000;
	font-family: arial;
	font-size: 11px;
	font-weight: normal;
}

#suche_box_submit input
{
border: 0px solid transparent;
background-image: url(img/search.jpg);
height: 27px;
width: 28px;
color: transparent;
font-size: 0;
cursor: pointer;
position: absolute;
right: 0px;
top: 2px;
padding-right: 0px;
padding-left: 0px;
}

#login
{
width: 175px;
min-height: 30px;
height: auto!important;
height: 30px;
background-color: white;
padding-left: 23px;
padding: 20px;
margin-bottom: 100px;
color: black;
-webkit-border-radius: 8px;
-moz-border-radius: 8px;
border-radius: 8px;
-webkit-box-shadow: 0px 0px 5px 0px #35638e;
-moz-box-shadow: 0px 0px 5px 0px #35638e;
box-shadow: 0px 0px 5px 0px #35638e; 
}

#login b
{
color: #32aaff;
	font-family: Century Gothic;
	font-size: 17px;
	font-weight: bold;
text-transform: uppercase;
}

#login
{
color: #000000;
	font-family: arial;
	font-size: 12px;
	font-weight: normal;
}

#login a
{
color: #000000;
	font-family: arial;
	font-size: 11px;
	font-weight: normal;
text-decoration: none;
}

#login a:hover
{
color: #32aaff;
	font-family: arial;
	font-size: 11px;
	font-weight: normal;
}

.login3 input
{
border: 1px solid #33AAFE;
width: 100%;
height: 26px;
width: 135px;
padding-right: 35px;
padding-left: 5px;
margin-bottom: 10px;
color: #000000;
	font-family: arial;
	font-size: 11px;
	font-weight: normal;
}

.login2 input
{
background-image: url(img/login.jpg);
background-repeat: no-repeat;
border: 0px solid transparent;
float: right;
color: transparent;
width: 27px;
font-size: 0px;
height: 21px;
cursor: pointer;
position: relative;
top: 5px;
}

.login input
{
background-image: url(img/logout.jpg);
background-repeat: no-repeat;
border: 0px solid transparent;
float: right;
color: transparent;
font-size: 0px;
width: 24px;
height: 24px;
cursor: pointer;
position: relative;
top: -3px;
}

#right
{
width: 520px;
min-height: 600px;
height: auto!important;
height: 600px;
background-color: white;
-webkit-border-radius: 8px;
-moz-border-radius: 8px;
border-radius: 8px;
-webkit-box-shadow: 0px 0px 5px 0px #35638e;
-moz-box-shadow: 0px 0px 5px 0px #35638e;
box-shadow: 0px 0px 5px 0px #35638e; 
float: left;
background-image: url(img/text_bottom_bg.jpg);
background-repeat: repeat-x;
background-position: bottom;
position: relative;
z-index: 2;
margin-left: 25px;
}

#text
{
width: 490px;
float: right;
margin-top: 15px;
margin-right: 15px;
margin-bottom: 25px;
padding-bottom: 20px;
font-family: Arial, sans-serif;
			font-weight: normal;
			font-size:12px;
			color: #333333;
			line-height: 1.3;
}

	#text img
	{
	position: relative;
	left: 0px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	float: left;
	margin-bottom: 35px;
	}
	
	#text p
	{
	margin-bottom: 15px;
	}
	
	
	
		#text h1
		{
			font-family: Arial, sans-serif;
			font-weight: normal;
			font-size:24px;
			color: #000000;
			margin-bottom:25px;
		}
		
		#text input
{
border: 1px solid #33AAFE;
width: 120px;
height: 26px;
padding-left: 5px;
color: #000000;
	font-family: arial;
	font-size: 12px;
	font-weight: normal;
}

	#text	input#match_all, #text	input#match_any, #text	input#match_exact
{
width: 30px;
color: #000000;
	font-family: arial;
	font-size: 12px;
	font-weight: normal;
	float: left;
}

	#text	 label
{
width: 200px;
height: 26px;
/*display: block;*/
margin-bottom: 5px;
padding-top: 8px;
color: #000000;
	font-family: arial;
	font-size: 12px;
	font-weight: normal;
}

	#text input#remember
{
width: 30px;
color: #000000;
	font-family: arial;
	font-size: 12px;
	font-weight: normal;
	float: left;
}

	#text	 label#remember
{
width: 200px;
height: 26px;
display: block;
margin-bottom: 5px;
padding-top: 8px;
color: #000000;
	font-family: arial;
	font-size: 12px;
	font-weight: normal;
}




		#text select
{
border: 1px solid #33AAFE;
width: 300px;
padding: 5px;
color: #000000;
	font-family: arial;
	font-size: 12px;
	font-weight: normal;
}
		

		#text h2
		{
			font-family: Arial, sans-serif;
			font-weight: normal;
			font-size:22px;
			color: #000000;
			margin-bottom:20px;
		}

		#text h3
		{
			font-family: Arial, sans-serif;
			font-weight: bold;
			font-size:18px;
			color: #000000;
			margin-bottom:18px;
		}

		#text h4
		{
			font-family: Arial, sans-serif;
			font-weight: normal;
			font-size:16px;
			color: #000000;
			margin-bottom:16px;
		}
		
		#text h5
		{
			font-family: Arial, sans-serif;
			font-weight: bold;
			font-size:14px;
			color: #000000;
			margin-bottom:15px;
		}

		#text h6
		{
			font-family: Arial, sans-serif;
			font-weight: bold;
			font-size:13px;
			color: #000000;
			margin-bottom:10px;
		}

		#text hr
		{
			width:100%;
			height:1px;
			border-bottom:#ececec solid 1px;
			border-top:#cacaca solid 0;
			border-left:#cacaca solid 0;
			border-right:#cacaca solid 0;
			margin-top:25px;
			margin-bottom:25px;
		}

		#text a
		{
			font-family: Arial, sans-serif;
			font-weight: normal;
			font-size:12px;
			color: #32aaff;
			text-decoration:none;
		}
		#text a:hover
		{
			font-family: Arial, sans-serif;
			font-weight: normal;
			font-size:12px;
			color: #000000;
			text-decoration:none;
		}

		#text table
		{
			border:0px solid #FFFFFF;
			/*margin-bottom:15px;*/
			width:100%;
			color:#000000;
		}

		#text table tr
		{
			border:0px solid #FFFFFF;
			color:#000000;
		}

		#text table tr td
		{
			border:1px solid #FFFFFF;
			font-family: Arial, sans-serif;
			font-weight: normal;
			font-size:12px;
			color: #000000;
			vertical-align:middle;
			background-color: #FFFFFF;
			padding:5px;
		}
		
		#text table caption
		{
			font-family: Arial, sans-serif;
			font-weight: bold;
			font-size:12px;
			color: #000000;
			vertical-align:middle;
			padding-bottom:5px;
		}
		
		#text table tr th
		{
			border:1px solid #FFFFFF;
			font-family: Arial, sans-serif;
			font-weight: normal;
			font-size:12px;
			color: #FFFFFF;
			vertical-align:middle;
			background-color: #32aaff;
			padding:5px;
		}

		#text ol
		{
			margin-bottom:20px;
			margin-top:20px;
			position:relative;
			left:17px;
		}

		#text ol li
		{
			padding-bottom:1px;
			list-style-type:decimal;
			margin-left:17px;
			padding-left:15px;
		}

		#text ul
		{
			margin-bottom:20px;
			margin-top:20px;
			position:relative;
			left:17px;
		}

		#text ul li
		{
			padding-bottom:1px;
			list-style-type:square;
			margin-left:17px;
			padding-left:15px;
		}

#line_3
{
width: 100%;
height: 70px;
background-image: url(img/content_bottom_bg.jpg);
background-color: white;
background-repeat: repeat-x;
background-position: top;
position: relative;
top: -70px;
z-index: 1;
}

#line_3_a
{
width: 775px;
height: 70px;
margin: 0 auto;

}


#footer
{
width: 775px;
height: 70px;
position: absolute;
}


#social
{
width: 150px;
height: 32px;
position: absolute;
top: 30px;
right: 42px;
color: #296fa9;
font-size: 12px;
font-family: Century Gothic;
}

#social img
{
float: right;
margin-left: 5px;
position: relative;
top: -5px;
}

#follow
{
float: left;
}

#copyright
{
width: 145px;
height: 17px;
position: absolute;
left: 22px;
top: 90px;
font-size: 11px;
font-family: Century Gothic;
color: #808080;
}

#copyright a
{
font-size: 11px;
font-family: Century Gothic;
color: #808080;
text-decoration: none;
}

#copyright a:hover
{
color: black;
}