html   { margin: 0; padding: 0 }
body      { background-color: #99BBD7; background-image: url(bg_full.jpg); background-repeat: repeat-x; background-position: 0 1px; text-align: center; margin: 0; padding: 1px 0 0 }

/*
----------------------| BASIC ELEMENTS 
*/
#content a,  #content a:visited   { color: #597FA4; font-weight: bold; text-decoration: none; padding-right: 4px; padding-left: 4px }
#content a:hover  { text-decoration: underline }
#content small a,  #content small a:visited {font-weight: normal;}
#content p  { font-size: 10pt; font-family: Arial, Helvetica, Verdana }
h1, h2, h3, h4, h5, h6    { font-family: "Trebuchet MS", Arial, Helvetica; font-weight: lighter; letter-spacing: 0.5pt; margin-top: 2px; margin-bottom: 2px; padding: 0 }
h1   { color: #475765; font-size: 22pt; padding: 0 }
h2, h3   { color: #5b6f81; margin-top: 3px; margin-bottom: 1px;padding-bottom: 1px }

#content ul  { font-size: 90%; font-family: Arial, Helvetica; }
#content ul li   { background-position: left 0; list-style-type: none; list-style-image: url(a.gif); margin-top: 3px; margin-bottom: 3px }
/*images*/
#content img.right  { padding: 2px; float: right; border-color: #222d36 }

/*
----------------------| PAN WRAPPER 
*/
#framers_framer       { text-align: left; margin-top: 1px; margin-right: auto; margin-left: auto; padding-top: 0; width: 906px }
/*
----------------------| HEAD Section 
*/
#header       { background-color: #fff; background-image: url(header.jpg); background-repeat: no-repeat; margin-top: 9px; padding-top: 70px; height: 170px }
.logo    { width: 300px; height: 70px; float: left; border-color:  }
.about_pic  { background-image: url(about_pic.png); background-repeat: no-repeat; background-position: right 3px; text-align: right; margin-top: 0; margin-left: 575px; padding-right: 4px; width: 300px; height: 106px }
.pic_EN { background-position: right 3px }
.pic_NL    { background-position: right -100px }
.pic_DE  { background-position: right -203px }
/*
---------------------------------------------| CONTENT Framer Section 
*/
#content_framer   { background-image: url(bg_content.jpg); background-repeat: repeat-y }
#help {margin-top: -40px;}
#bars     { background-image: url(bar.jpg); background-repeat: no-repeat; margin: 0 0 5px; padding: 0; height: 60px }
    .download_bar       { background-image: url(download_btn.jpg); background-repeat: no-repeat; background-position: 16px 0; width: 255px; height: 56px; float: left }
        .download_bar p   { color: #fff; font-size: 18px; margin: 0 0 0 90px; padding: 2px 0 0 }
        .download_bar small  { font-size: 70% }
        .download_bar span   { color: #bcf17b; font-weight: bold; margin-right: 4px }
        .download_bar a, .download_bar a:visited  { color: #fff }
        .download_bar a:hover  { color: #cfc }
    /*breadcrumb
*/
.breadcrumb_bar    { margin-left: 280px; padding-top: 12px; height: 38px }
    .breadcrumb_bar div  { float: left }
    .breadcrumb_bar img.flag_icon { float: none; border-style: none }
    div.breadcrumb  { font-size: 0.85em; color: #777; line-height: 19px; background-image: none; background-repeat: repeat; background-attachment: scroll; background-position: 0 0; margin-top: 7px; padding: 1px 1px 1px 4px; width: 472px; height: 20px; overflow: hidden; border: solid 1px #d1d8df }
    div.breadcrumb span    {    font-weight: bold;    padding: 0 0 0 10px;    }
    div.breadcrumb a, div.breadcrumb span.arrow     { background: url(breadcrumb.gif) no-repeat right center; padding: 15px 20px 15px 10px }
/*----------------| sidebar*/
#sidebar     { font-family: arial, helvetica;  margin: -40px 0 0 5px; width: 250px; float: left }
    #sidebar div  { font-size: 75%; line-height: 100%; margin-left: 16px }
    #sidebar hr{margin-left:15px; width: 200px;}
    #sidebar h2{margin-top:10px;}
    #copyright h3 {font-family: "Trebuchet MS"; font-weight: bold; text-align: center; list-style-type: none; margin: 300px 0 4px 5px; padding: 0 }
    #copyright p {font-family: "Trebuchet MS"; color: #6b7984; text-align:center;}
    #copyright a,  #copyright a:visited   { color: #475765; font-weight: bold; text-decoration: none; padding-right: 4px; padding-left: 4px }
    #copyright a:hover  { text-decoration: underline }
/*----------------| content*/
#content        { margin-top: 0; margin-left: 285px; padding-top: 0; width: 590px }
#skip{text-align:center;}
#skip img{border:none;}

.content_framer_end   { background-image: url(content_end.jpg); background-repeat: no-repeat; height: 25px }
/*
-------------------------------------------| NAVIGATION 
*/
ul.leftmenu         { font-family: "Trebuchet MS"; font-weight: bold; text-align: left; list-style-type: none; margin: 4px 0 25px 5px; padding: 0 }
ul.leftmenu li  { display: block; margin: 0; padding: 0 }
ul.leftmenu li a         { color: #2e3e4e; text-decoration: none; background-position: left top; line-height: 20px; list-style-position: inside; display: block; margin: 0 10px 0 0; padding: 0 0 0 10px; border-bottom: 2px solid #dbdfe2 }
ul.leftmenu li a:visited, .leftmenu li a:active  { }
ul.leftmenu li ul.leftmenu li a    { font-size: 12px; font-weight: normal; line-height: 83%;  margin: 0 20px; padding-top: 3px; padding-bottom: 3px; padding-left: 0 }
ul.leftmenu li ul ul li a  { font-size: 11px; font-weight: normal; margin: 0; padding-left: 20px }
ul.leftmenu li.active a        { background-repeat: repeat-x; background-position: 0 1px }
ul.leftmenu li a span         { color: #3f556b; font-weight: bolder; background-image: url(a.gif) !important; background-repeat: no-repeat; background-position: 0 center; padding-left: 10px }
ul.leftmenu li a:hover, ul.leftmenu li.active a:hover { color: #3f556b !important; background-image: none; background-position: 0 0; border-bottom: 2px solid #ccc }

#fb-link { margin: 5px 0 -5px!important; text-align: center;}
#fb-link img{border:none;}
/*
-------------------------------------------| FOOT Section 
*/
#footer_framer { background-color: #537EA7; background-image: url(footer_bg.jpg); background-repeat: repeat-x; text-align: center; margin: 25px 0 0; padding: 10px 0 20px; width: 100% }
#footer { color: #ccc; background-image: url(global.gif); background-repeat: no-repeat; background-position: left; text-align: left; margin-right: auto; margin-left: auto; width: 900px; height: 120px }
.foot_info { color: #222d36; font-size: 12px; padding: 4px }
.foot_block  { color: #ccc; margin: 0 0 0 15px; padding: 2px; width: 100%; height: 80px; float: left; clear: right; text-align:center; }
.foot_block a { color: #ccc; text-decoration:none;}
.foot_block a :hover { color: #c2cfdb; text-decoration:underline;}
.foot_related  { padding: 2px; width: 100%; height: 80px }
.foot_credits { color: #6b7984 !important; font-size: 11px; background-image: url(dt_logo.gif); background-repeat: no-repeat; background-position: left 0; text-align: left; margin-right: auto; margin-bottom: 3px; margin-left: auto; padding-left: 80px; width: 800px; height: 30px; border-color:  }
.foot_credits a { color: #a5b4c1 }
/*footer table
*/
#footer table tr td  { margin: 0; padding: 0; vertical-align: top }
#footer .h3 { color: #c2cfdb; font-size: 16px; font-family: "Trebuchet MS", Verdana; font-weight: bold }
p.backtotop  { position: fixed; right: 30px; bottom: 200px;}
/*PRINT SHEET*/
.print_logo { display: none }
/*
----------------------| Schrims A-Z 
*/
blockquote   { color: #222d36; font-size: 18px; margin-left: 15%; padding: 6px 4px; width: 70%; border-top: 4px solid #ccc; border-right: #ccc; border-bottom: 4px solid #ccc; border-left: #ccc }
blockquote cite    { color: #475765; font-size: 90%; margin-top: 10px; padding-top: 2px }
fieldset     { background: url(fieldset.gif) repeat-x 0 bottom; margin-top: 8px; margin-bottom: 8px; padding: 6px 12px; border: solid 2px #394b5f; border-radius: 5px; }
fieldset legend   { color: #fff; font-size: 14px; font-weight: bold; background-color: #394b5f; padding: 4px 60px 4px 14px; border: solid 1px #394b5f; border-radius: 5px; }
fieldset p  { color: #475765; font-size: 90% }
hr  { margin-left: -17px; width: 105%; border-top: 1px solid #b3b8be; border-right: #b3b8be; border-bottom: 1px solid #b3b8be; border-left: #b3b8be }
label    { color: #475765; font-size: 80%; font-weight: bold; background-color: #e3e9ef; margin: 2px; padding: 2px 2px 2px 4px; border: solid 2px #fff }
sup, sub, acronym, abbr   { color: #475765; letter-spacing: 0.6pt }
tt { color: #760000; }

/*table*/
table.separat {
    border-collapse: separate;
}table.datatable    { font-family: Arial, Helvetica, Verdana; font-size:90%; background-color: #e3e9ef; width: 98%; border: solid 2px #475765 }
table.datatable caption  { color: #fff; font-size: 14pt; background-color: #475765; text-align: left; margin-left: 20px; padding: 4px 4px 4px 10px; width: 200px }
table.datatable tfoot  { font-size: 10pt; background-color: #546778; padding: 1px }
table.datatable tr th, table.datatable tr td   { margin: 2px; padding: 3px; border: solid 1px #546778 }
table.datatable th   { color: #fff; background-color: #394b5f }

#langmenu {
  display: block;
  float: right;
  margin-left: auto;
  margin-right: auto;
  min-height: 0.6em;
  padding: 5px;
  text-align: center;
  vertical-align: middle;
}
#langmenu a:hover img, #langmenu a.current img {
  opacity: 0.3;
}
#langmenu img {
  border: 0 none;
  max-width: 100%;
}

