@import url('core.css');
@import url('content.css');
@import url('navigation.css');

label { cursor :pointer; }
input:focus, input:active, select:focus, textarea:focus { background :#f1f8fd; }
iframe { border :1px solid #35373a; }
.title {
   text-align :left;
   padding :4px 5px 0px 3px;
   font-weight :bold;
   font-size :14px;
   margin-bottom :5px;
}

select option.disabled { color :#aaaaaa; }
.jsadmin_drag img { padding :3px 0; margin-top :1px; vertical-align :top; cursor :pointer; }

.save, .reset, .input_narrow { min-width :10%; }
#hide2, .hide, .page_list { display :none; }
.right{ text-align :right; }
.left{ text-align :left; }
/* set div layers in dead tables */
.subcolumns { width :100%; overflow :hidden; margin :10px 0; }
.subcolumns_oldgecko { width :100%; float :left; margin :10px 0; }
.c10l, .c20l, .c25l, .c33l, .c40l, .c38l, .c50l, .c60l, .c62l, .c66l, .c75l, .c80l { float :left; }
.c10r, .c20r, .c25r, .c33r, .c40r, .c38r, .c50r, .c60r, .c66r, .c62r, .c75r, .c80r { float :right; margin-left :-5px; }
  .c10l, .c10r { width :10%; }
  .c20l, .c20r { width :20%; line-height :2em; }
  .c40l, .c40r { width :40%; }
  .c60l, .c60r { width :60%; line-height : 2.125em; }
  .c25l, .c25r { width :28%; }
  .c33l, .c33r { width :33.333%; }
  .c50l, .c50r { width :50%; }
  .c66l, .c66r { width :66.666%; }
  .c38l, .c38r { width :38.2%; }
  .c62l, .c62r { width :61.8%; }
  .subc { padding :0 0.5em; }
  .subcl { padding :0 1em 0 0; }
  .subcr { padding :0 0 0 1em; }
.c80l, .c80r, .c90l, .c90r { width :80%; }
.c75l, .c75r, .c80l, .c80r { width :75%; }
input.submitBtn { height: 2.125em; }
.save_section { margin : 1.925em auto; height: 2.125em;}
#section-info { margin : 1.5em 0;line-height: 1.429; }

button.status { cursor :pointer; border-radius :5px; -khtml-border-radius :5px; -webkit-border-radius :5px; -moz-border-radius :5px; }
.button { font-weight: bold; cursor :pointer; background: #C9C9C9; padding: 0.425em 0.8525em; border-radius :4px; -khtml-border-radius :4px; -webkit-border-radius :4px; -moz-border-radius :4px; }

button[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover,
input[type="button"]:hover { cursor: pointer;}

button.href {
  background: transparent;
  border: none;
  cursor: pointer;
}
button.href:hover {
color: #166F82;
}

input[type="checkbox"] + label,
input[type="checkbox"] + td label {
  font-weight: normal;
  padding-bottom: 0.425em;
  vertical-align: middle;
}

input[type="checkbox"]:checked { }
input[type="checkbox"]:checked + label,
input[type="checkbox"]:checked + td label {
  color: #2D8C0A;
  font-weight: bold;
  padding-bottom: 0.425em;
  vertical-align: middle;
}
.mod-pre { overflow: auto; width: 80%; }


