span.title { display :block; }
.section { margin-top :10px; padding :0px; border :1px solid #999999; font-size :1em; width :100%; background-color :#fdfdfd; height :95px; }
#addons {padding: 0.525em 1.925em 1.925em;}
